.app.dark {
  --bg-color: #091853;
  --inverted-bg-color: #e3e8f9;
  --primary-color: #14af1c;

  --secondary-color: #1bca00;

  --inverted-primary-color: #1f27ba;
  
  --inverted-secondary-color: #5296e3;
}
